<%= form_for [:admin, @reward ] do |f| %>
  <% if @reward.errors.any? %>
    <div class="container mt-1">
      <div class="mt-1 p-3 bg-warning text-black rounded">
        <div id="error_explanation">
          <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this Reward from being saved:</h2>
          <ul>
            <% @reward.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <hr class="my-4">
  <div class="field mb-3">
    <%= f.text_field :title, autofocus: true, class:"form-control form-control-lg", placeholder:"Please give your Reward a title!" %>
  </div>

  <hr class="my-4">
  <div class="field mb-3">
    <%= f.text_area :description, class:"form-control", placeholder:"Please describe your Reward!" %>
  </div>

  <hr class="my-4">
  <div class="field mb-3">
    <%= f.number_field :price, min: 1, max: 999999999, class:"form-control", placeholder:"Please select a price of Reward!" %>
  </div>

  <hr class="my-4">
  <div class="actions">
    <%= f.submit class:"btn btn-success" %>
  </div>
<% end %>
