<div class="bg-light shadow-lg p-4 mb-5 rounded">

<h3>Employee Details</h3>
<hr class="my-4">

  <p>
    <strong>Email:</strong>
    <%= @employee.email %>
  </p>
  <hr class="my-4">

  <p>
    <strong>Number of available Kudos:</strong>
    <%= @employee.number_of_available_kudos %>
  </p>
  <hr class="my-4">

  <p>
    <strong>Number of points:</strong>
    <%= @employee.number_of_points %>
  </p>
  <hr class="my-4">

 <div class="d-grid gap-1 d-md-flex mx-left">
    <%= link_to 'Edit This Employee', edit_admin_employee_path(@employee), class:"btn btn-warning" %>
    <%= button_to 'Destroy This Employee!', admin_employee_path(@employee), method: :delete, :onclick => "return confirm('Are you sure?')", class:"btn btn-danger" %>
    <%= link_to 'Back To Employee List', admin_employees_path, class:"btn btn-secondary" %>
  </div>
</div>

<div class="bg-light shadow-lg p-4 mb-5 rounded">

  <h3>History of bought rewards</h3>

  <table class="table table-sm table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th style="width: 10%">Purchase time</th>
        <th style="width: 1%">Price</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.snapshot.title %></td>
          <td><%= order.snapshot.description %></td>
          <td><%= order.created_at.localtime.to_s(:db) %></td>
          <td><%= order.snapshot.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
