<%= form_with(model: kudo) do |form| %>
  <% if kudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kudo.errors.count, "error") %> prohibited this kudo from being saved:</h2>

      <ul>
        <% kudo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <hr class="my-4">
  <div class="field mb-3">
    <%= form.label :title, class:"form-label" %>
    <%= form.text_field :title, class:"form-control" %>
  </div>
  <hr class="my-4">
  <div class="field mb-3">
    <%= form.label :content %>
    <%= form.text_area :content, class:"form-control" %>
  </div>
  <hr class="my-4">
  <div class="field mb-3">
    <%= form.label :giver_id %>
    <%= form.number_field :giver_id, class:"form-control" %>
  </div>
  <hr class="my-4">
  <div class="field mb-3">
    <%= form.label :receiver_id %>
    <%= form.number_field :receiver_id, class:"form-control" %>
  </div>
  <hr class="my-4">
  <div class="actions">
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
