<div class="bg-light shadow-lg p-4 mb-5 rounded">
<p id="notice"><%= notice %></p>

<h2>Kudos List</h2>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Giver</th>
      <th>Receiver</th>
      <th colspan="3">Modify</th>
    </tr>
  </thead>

  <tbody>
    <% @kudos.each do |kudo| %>
      <tr>
        <td><%= kudo.title %></td>
        <td><%= kudo.content %></td>
        <td><%= kudo.giver_id %></td>
        <td><%= kudo.receiver_id %></td>
        <td><%= link_to 'Show This Kudo', kudo, class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit This Kudo...', edit_kudo_path(kudo), class:"btn btn-warning" %></td>
        <div class="col-4">
          <td><%= button_to 'Destroy This Kudo!', kudo, method: :delete, :onclick => "return confirm('Are you sure you want to delete this Kudo?')", class:"btn btn-danger" %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Kudo!', new_kudo_path, class:"btn btn-success" %>
</div>
