<div class="bg-light shadow-lg p-4 mb-5 rounded">

<h2>Kudos List</h2>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Company Value</th>
      <th>Giver</th>
      <th>Receiver</th>
      <th style="width: 1%", colspan="3">Modify</th>
    </tr>
  </thead>

  <tbody>
    <% @kudos.each do |kudo| %>
      <tr>
        <td><%= kudo.title %></td>
        <td><%= kudo.content %></td>
        <td><%= kudo.company_value.title %></td>
        <td><%= kudo.giver_of_kudo.email %></td>
        <td><%= kudo.receiver_of_kudo.email %></td>
        <td><%= link_to 'Show', kudo, class:"btn btn-primary" %></td>

        <% if kudo.giver_of_kudo == current_employee %>
          <td><%= link_to 'Edit...', edit_kudo_path(kudo), class:"btn btn-warning" %></td>
          <td><%= button_to 'Destroy!', kudo, method: :delete, :onclick => "return confirm('Are you sure you want to delete this Kudo?')", class:"btn btn-danger" %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Kudo!', new_kudo_path, class:"btn btn-success" %>
</div>
