<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Ruby Employee Recognition App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if employee_signed_in? %>

          <li class="nav-item">
            <%= link_to 'Show list of All Kudos', kudos_path, class: 'btn btn-outline-light me-md-1' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Create New Kudo!', new_kudo_path, class: 'btn btn-outline-success me-md-5' %>
          </li>

          <li class="nav-item">
            <a class="btn btn-outline-info me-md-1 pe-none">Logged as: <%= current_employee.email %></a>
          </li>

          <li class="nav-item">
            <%= link_to 'Edit My Account', edit_employee_registration_path, class: 'btn btn-outline-warning me-md-1' %>
          </li>

          <li class="nav-item">
            <%= button_to 'Log out', destroy_employee_session_path, method: :delete, :onclick => "return confirm('Are you sure you want to Log out?')", class: 'btn btn-outline-danger' %>
          </li>

        <% else %>

          <li class="nav-item">
            <%= link_to 'Register', new_employee_registration_path, class: 'btn btn-outline-light me-md-1' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Log in', new_employee_session_path, class: 'btn btn-outline-light me-md-1' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>