<div class="bg-light shadow-lg p-4 mb-5 rounded">
<h2>Log in</h2>
<hr class="my-4">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mb-3">
    <%= f.label :email, class:"form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Please enter your e-mail adress." %>
  </div>
  <hr class="my-4">
  <div class="field mb-3">
    <%= f.label :password, class:"form-label" %>
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Please enter your current password." %>
  </div>
  <hr class="my-4">
  <% if devise_mapping.rememberable? %>
    <div class="form-check">
      <%= f.check_box :remember_me, class:"form-check-input" %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <hr class="my-4">
  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-success" %>
  </div>
<% end %>
<hr class="my-4">
<%= render "devise/shared/links" %>
</div>
